.HeaderWrap {
  height: 3rem;
}

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3rem;
  padding: 0 0.5rem;
  border-bottom: 1px solid var(--card-border-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--background-color);
  z-index: 950;
}

.BackButton {
  position: absolute;
  text-decoration: none;
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.H1 {
  font-size: 1rem;
  margin: 0;
  flex: 1;
  text-align: center;
}

.EndSlot {
  position: absolute;
  right: 0.5rem;
  display: flex;
  gap: 0.5rem;
}
