.ActionContainer {
  margin-top: 1rem;
}

.FieldList {
  display: flex;
  flex-direction: column;
}

.StatusContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.FieldItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  border-bottom: 1px solid var(--card-border-color);
  padding: 0.5rem 0;

  & > div {
    overflow: hidden;
  }
}

.EndSlot {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.GroupHeader {
  padding: 0.5rem;
  background: var(--block-bg);
  /* Negate the page padding (I never like doing this) */
  margin: 0 -1rem;
  position: sticky;
  top: 3rem;
}

.Description {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
