.DaysLeft {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border-radius: 50%;
  /*border: 1px solid var(--border);*/
  --currentColor: green;
  --current: 40%;
  --total: 100%;
  background: conic-gradient(
    transparent 0% var(--current),
    var(--currentColor) var(--current) var(--total),
    transparent var(--total)
  );
}

.Total {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border-radius: 50%;
  /*border: 1px solid var(--border);*/
  background-color: var(--danger);
}
