.DaysLeft {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /*border: 1px solid var(--border);*/
  --currentColor: green;
  --current: 40%;
  --total: 100%;
  color: var(--currentContrast);
  font-weight: bold;
  background: var(--currentOffColor)
    conic-gradient(
      transparent 0% var(--current),
      var(--currentColor) var(--current) var(--total),
      transparent var(--total)
    );
}

.Total {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background-color: var(--danger);
  color: var(--danger-contrast);
}
