.ActionContainer {
  margin-top: 1rem;
}

.FieldList {
  display: flex;
  flex-direction: column;
}

.FieldItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--card-border-color);
  padding: 0.5rem 0;
}

.EndSlot {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
