#field-drawing {
  position: relative;
  width: 100%;

  .label {
    background: var(--secondary-container-background);
    padding: 0.1rem 0.3rem;
    text-align: center;
    position: absolute;
  }
}
