.Field {
  border: 1px solid black;
}

.FieldWrapper {
  position: relative;
  width: 100%;
}

.Label {
  background: rgb(243, 243, 243);
  padding: 0 0.5rem;
  text-align: center;
  position: absolute;
}
