.FieldList {
  margin: 0;
  padding: 0;
}

.FieldItemTag {
  color: initial;
}

.FieldItemTag:hover {
  text-decoration: none;
}

.FieldItemWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem;
  margin: 0 0 0.5rem 0;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  background: var(--card-background-color);
  box-shadow: var(--card-box-shadow);
}

.FieldItemDetail {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.FieldAction {
}

.EmptyList {
  margin-top: 1rem;
  text-align: center;
}

.ActionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  margin-top: 1.5rem;
}
