.HeaderWrap {
  height: 1rem;
}

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
  padding: 0 0.5rem;
  border-bottom: 1px solid var(--card-border-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--background-color);
  z-index: 1000;
}
