.MessagingPrompt {
  display: grid;
  grid-template-columns: 1fr auto;
  position: fixed;
  top: -5rem;
  left: 0;
  right: 0;
  z-index: 975;
  border-bottom: 1px solid white;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background: var(--background-color);
  animation-name: messagingPromptSlideDown;
  animation-duration: 500ms;
  animation-delay: 1s;
  animation-fill-mode: forwards;

  & button {
    display: inline-block;
    margin: 0;
  }
}

.ActionBlock {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.Hide {
  display: none;
}

/* Create an animation that pulls down the div to top: 0 */
@keyframes messagingPromptSlideDown {
  from {
    top: -5rem;
  }
  to {
    top: 0;
  }
}
