.RefreshLoader {
  position: fixed;
  top: 0;
  height: 2px;
  background: blue;
  width: 100%;
  z-index: 1001;
  transition-property: opacity;
  transition-duration: 1s;
  opacity: 0;
}

.Shown {
  opacity: 1;
}
