.StatusContainer {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.StatusPill {
  text-align: center;
  border-radius: 1rem;
  padding: 0 0.875rem;
  display: inline-block;
  width: auto;
}

.StatusGreen {
  background: var(--success);
  color: var(--success-contrast);
}

.StatusRed {
  background: var(--danger);
  color: var(--danger-contrast);
}
