/* Reset: */
*,
::after,
::before {
  box-sizing: border-box;
}
/* Set the height of the body to 100% */
html,
body {
  height: 100%;
  width: 100%;
}

.button {
  display: block;
  --background-color: transparent;
  --color: var(--primary);
  background: var(--background-color);
  color: var(--primary);

  --border-color: var(--primary);
  --color: var(--primary);
  --box-shadow: var(--button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
  padding: var(--form-element-spacing-vertical)
    var(--form-element-spacing-horizontal);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  outline: 0;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  color: var(--color);
  font-weight: var(--font-weight);
  font-size: 1rem;
  line-height: var(--line-height);
  text-align: center;
  cursor: pointer;
  transition:
    background-color var(--transition),
    border-color var(--transition),
    color var(--transition),
    box-shadow var(--transition);
}

.button:hover {
  text-decoration: none;
}

h1 {
  font-size: 1.4rem;
  margin: 0.2rem 0;
}

ul,
ol {
  padding: 0;
}

ul li,
ol li {
  list-style: none;
}
