ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 1.7rem;
}

a[role='button'].danger,
button.danger {
  background-color: var(--del-color);
}
