ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 1.7rem;
}

a[role='button'].danger,
button.danger {
  background-color: var(--del-color);
}

a[role='button'].ghost,
button.ghost {
  background-color: transparent;
  border: 0;
  display: inline;
  width: auto;
  margin: 0;
  padding: 0;
  color: var(--secondary);

  & > svg {
    margin-top: -8px;
  }
}

.vertical-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  gap: 1rem;
}

.text-center {
  text-align: center;
}

.no-scroll {
  overflow: hidden;
}
